{% extends "app_coder/index.html" %}
{% load static %}
{% block contenidoQueCambia %}

<h2>Buscador de categorias</h2>
<hr></hr>

<form action="/app_coder/search" method="GET">
    <div>
        <input type="text" name="text_search" id="category_name" placeholder="Busqueda por nombre">
        <input type="submit" value="Buscar por Nombre">
    </div>
    <div>
        <input type="number" name="code_search" id="category_code" placeholder="Busqueda por camada">
        <input type="submit" value="Buscar por camada">
    </div>
    <div>
        <input type="text" name="all_search" id="category_code_or_name" placeholder="Busqueda general">
        <input type="submit" value="Buscar">
    </div>

</form>

<hr></hr>

{% if categories %}
    <ul>
        {% for category in categories %}
            <li>
                Curso: {{category.name}}
                -- Camada: {{category.code}}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}